body{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav{
    background-color: #115095;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav h1{
    margin: 0;
    font-size: 45px;
}

nav h1{
    color: #fff;
}

nav span{
    color: #FFCA41;
}

.center{
    display: flex;
}

main img{
    width: 650px;
}

section{
    background-color: #115095;
    display: flex;
    justify-content: space-around;
}

.profile{
    display: grid;
    place-items: center;
    margin: 10px;
}

.name{
    color: #fff;
    font-weight: bold;
    margin: 10px;
    text-align: center;
    font-size: 1.5vw;
}

.profesion{
    margin: 0;
    text-align: center;
    font-size: 1.5vw;
}

.photo{
    width: 20vw;
    height: 20vw;
    border-radius: 100%;
    background-size: cover;
}

.profile1{
    background-image: url(../../img/Profile_1.png);
}

.profile2{
    background-image: url(../../img/Profile_2.png);
}

.profile3{
    background-image: url(../../img/Profile_3.png);
}

.profile4{
    background-image: url(../../img/Profile_4.png);
}

.profile img{
    width: 5vw;
}